.side-menu {
  position: fixed;
  display: block;
  right: 0;
  top: 0;
  background: white;
  box-shadow: 0 0 8px 2px lightgray;
  min-width: 250px;
  height: 100%;
  padding: 5px 5px;
  text-align: right; }
  .side-menu p {
    text-align: center; }
  .side-menu .side-menu-input-container {
    position: relative;
    right: 0; }
    .side-menu .side-menu-input-container input {
      width: 50px;
      -moz-appearance: textfield;
      margin: 5px;
      box-sizing: border-box;
      padding: 1px;
      border: 1.25px solid gray; }
      .side-menu .side-menu-input-container input::-webkit-outer-spin-button, .side-menu .side-menu-input-container input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0; }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: #f4f4f4; }
